.DS_Store
node_modules/
coverage
.vscode

build

contrib/boost-sdk/bjam
contrib/boost-sdk/b2
contrib/boost-sdk/project-config.jam
contrib/boost-sdk/bootstrap.log
contrib/boost-sdk/bin.v2


tests/web/mycoinevo-core.js
tests/web/mycoinevo_core_js
tests/web/mycoinevo-core.js.map
